@using GigHubNext.Dtos
@model GigHubNext.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Home Page";
}

<h1>@Model.Heading</h1>
<ul class="gigs voffset4">
    @foreach (var gig in Model.UpcomingGigs)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @gig.Artist.Name
                </span>
                <span class="genre">
                    @gig.Genre.Name 
                </span>
                @*@if (Model.ShowActions)
                {
                    <button data-gig-id = "@gig.Id" class="btn btn-default btn-sm pull-right js-toggle-attendance">Going?</button>
                }*@
                @if (Model.ShowActions)
                {
                    <a asp-controller="Attendances" asp-action="Attend" asp-route-id="@gig.Id" class="btn btn-default btn-sm pull-right js-toggle-attendance">Going?</a>
                    @*<attendance asp-controller="Attendances" asp-action="Attend" asp-route-id="@gig.Id"></attendance>*@
                }
            </div>
        </li>
    }
</ul>

<attendance></attendance>

@section scripts
{
    <script>
        //var isClicked = false;

        //function toggleAttendance(isClicked) {
        //    if (isClicked) {
        //        .addClass("btn-default")
        //    }
        //}

        $(document).ready(function() {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                //$.post("/api/attendances", { "": button.attr("data-gig-id") })
                    //.done(function() {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    //})
                    //.fail(function() {
                    //    alert("Something failed!");
                    //});
            });
        });
    </script>
}